* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 62%;
    margin: auto;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}

// Button {
button {
    padding: 12px 25px;
    background-color: $primary-brand-color;
    color: $second-brand-color;
    font-size: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 0;
}

.button:focus {
    outline: none;
}

.button:focus {
    color: $second-brand-color;
    background-color: #3f3a64;
}