// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// COMMON
body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 62%;
    margin: auto;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

// Button {
button {
    padding: 12px 25px;
    background-color: $primary-brand-color;
    color: $second-brand-color;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
}


button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    color: $second-brand-color;
    background-color: #3f3a64;
}

// Title-section {
.title-section {
    text-align: center;

}

h6 {
    color: grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    }

h2 {
    line-height: 35px;
    padding: 15px 0;
    color: #222222;
    font-size: 32px;

    span {
        color: $primary-brand-color;
        font-weight: 400;
    }
    
}

