// MAIN

// -Results
.results {
    background-image: url(../img/background-pattern-grid-line.png);
    background-size: 310px;
    background-position: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    h3 {
        padding-top: 161px;
        width: 550px;
        margin: auto;
        font-size: 22px;
        font-weight: 600;
    }

    p {
        font-weight: 700;
        padding-top: 25px;
        font-size: 12px;
        text-transform: uppercase;
    }

    span {
        font-size: 11px;
        color: gray;
    }


    .number-results {
        margin: 50px 0 ;
        @include flexbox;

        .result {
            padding: 20px 0;
            width: 25%;
            color: $primary-brand-color;
            font-size: 30px;
            font-weight: 800;

            span {
                font-size: 12px;
                font-weight: 600;
                color: gray;
                display: block;
                text-transform: uppercase;
            }
        }
    }
}

// --circle
.circle {

    span {
        position: absolute
    }

    .one {
        font-size: 33px;
        color: lighten( #27ab94, 40%);
        top: -22px;
        right: 17%;
    }

    .two {
        font-size: 38px;
        color: lighten( #27ab94, 30%);
        top: 22px;
        left: 14%;
    }

    .three {
        font-size: 20px;
        color: lighten( #7335e7, 15%);
        top: 53px;
        left: 42%;
    }

    .four {
        font-size: 25px;
        color: lighten( #e25a6d, 14%);
        top: 33%;
        right: 17%;
    }

    .five {
        font-size: 25px;
        color: lighten( #cc1b17, 25%);
        top: 40%;
        left: 15%;
    }

    .six {
        font-size: 22px;
        color: lighten( #293259, 50%);
        top: 53%;
        right: 27%;
    }

    .seven {
        font-size: 34px;
        color: lighten( #e2a957, 10%);
        bottom: 24%;
        left: 7%;
    }

    .eight {
        font-size: 40px;
        color: lighten( #e25a6d, 25%);
        bottom: 22%;
        right: 17%;
    }
}

// -Service
.service {
    background-image: url(../img/background-pattern-grid-line.png);
    background-size: 310px;
    background-position: center;
    padding: 25px 0;
}

.container {
    display: flex;
}

// --type-service
.type-service {
    width: 50%;
    @include flexbox;
    flex-wrap: wrap;

    // --single-course {
        .single-service {
            width: 44%;
            padding: 5px 15px 0 15px;
            box-shadow: 0 0 10px 10px rgb(241, 238, 238);
            margin: -3% 3%;
            color: #293259;

                h4 {
                    font-size: 12px;
                    padding: 10px 0;
                }

                p {
                    font-size: 10px;
                    padding-bottom: 15px;
                }

                img {
                    margin: auto;
                    width: auto;
                    height: 130px;
                }
        }

        .single-service:nth-child(2) {
            margin-top: 80px;
        }

        .single-service:nth-child(3) {
            margin-bottom: 80px;

            padding: 0;

            img {
                margin: 0;
            }

            h4 {
                margin: 0 15px;
            }

            p {
                padding: 10px;
            }
        }

        .single-service:last-child img {
            width: 140px;
        }    

}

// --more-servie
.more-service {
    width: 50%;
    padding:  0 50px;
    margin-top: 22%;
    vertical-align:middle;

    h6 {
        color: grey;
        font-size: 11px;
        font-weight: 400;
    }

    li {
        color: grey;
        font-size: 10px;
        padding: 5px 0;

        i {
            color: $primary-brand-color;
            padding-right: 12px;
        }
    }
}