// MAIN

// -Results
.results {
    background-image: url(../img/background-pattern-grid-line.png);
    background-size: 310px;
    background-position: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    h3 {
        padding-top: 161px;
        width: 550px;
        margin: auto;
        font-size: 22px;
        font-weight: 600;
    }

    p {
        font-weight: 700;
        padding-top: 25px;
        font-size: 12px;
        text-transform: uppercase;
    }

    span {
        font-size: 11px;
        color: gray;
    }


    .number-results {
        margin: 50px 0 ;
        @include flexbox;

        .result {
            padding: 20px 0;
            width: 25%;
            color: $primary-brand-color;
            font-size: 30px;
            font-weight: 800;

            span {
                font-size: 12px;
                font-weight: 600;
                color: gray;
                display: block;
                text-transform: uppercase;
            }
        }
    }
}

// --circle
.circle {

    span {
        position: absolute
    }

    .one {
        font-size: 33px;
        color: lighten( #27ab94, 40%);
        top: -22px;
        right: 17%;
    }

    .two {
        font-size: 38px;
        color: lighten( #27ab94, 30%);
        top: 22px;
        left: 14%;
    }

    .three {
        font-size: 20px;
        color: lighten( #7335e7, 15%);
        top: 53px;
        left: 42%;
    }

    .four {
        font-size: 25px;
        color: lighten( #e25a6d, 14%);
        top: 33%;
        right: 17%;
    }

    .five {
        font-size: 25px;
        color: lighten( #cc1b17, 25%);
        top: 40%;
        left: 15%;
    }

    .six {
        font-size: 22px;
        color: lighten( #293259, 50%);
        top: 53%;
        right: 27%;
    }

    .seven {
        font-size: 34px;
        color: lighten( #e2a957, 10%);
        bottom: 24%;
        left: 7%;
    }

    .eight {
        font-size: 40px;
        color: lighten( #e25a6d, 25%);
        bottom: 22%;
        right: 17%;
    }
}

// -Service
.service {
    background-image: url(../img/background-pattern-grid-line.png);
    background-size: 310px;
    background-position: center;
    padding: 25px 0;
}

.container {
    display: flex;
}

// --type-service
.type-service {
    width: 50%;
    @include flexbox;
    flex-wrap: wrap;

    // --single-course {
        .single-service {
            width: 44%;
            padding: 5px 15px 0 15px;
            box-shadow: 0 0 10px 10px rgb(241, 238, 238);
            margin: -3% 3%;
            color: #293259;
            background-color: white;

                h4 {
                    font-size: 12px;
                    padding: 10px 0;
                }

                p {
                    font-size: 10px;
                    padding-bottom: 15px;
                }

                img {
                    margin: auto;
                    width: auto;
                    height: 130px;
                }
        }

        .single-service:nth-child(2) {
            margin-top: 80px;
        }

        .single-service:nth-child(3) {
            margin-bottom: 80px;

            padding: 0;

            img {
                margin: 0;
            }

            h4 {
                margin: 0 15px;
            }

            p {
                padding: 10px;
            }
        }

        .single-service:last-child img {
            width: 140px;
        }    

}

// --more-servie
.more-service {
    width: 50%;
    padding:  0 50px;
    margin-top: 22%;
    vertical-align:middle;

    li {
        color: grey;
        font-size: 10px;
        padding: 5px 0;

        i {
            color: $primary-brand-color;
            padding-right: 12px;
        }
    }
}

// -Courses
.courses {
    background-color: #f5f7fa;
    text-align: center;
    padding: 70px 0 40px 0;
}

// --course-content
.course-content {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
}

// ---single-course
.single-course {
    width: 48%;
    display: flex;
    text-align: left;
    margin: 20px 0;

    // ----picutures
    .pictures {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }

    .pictures.a {
        background-image: url(../img/course-02-480x298.jpg);
    }

    .pictures.b {
        background-image: url(../img/stock-full-hd-03-480x298.jpg);
    }

    .pictures.c {
        background-image: url(../img/stock-full-hd-04-480x298.jpg);
    }

    .pictures.d {
        background-image: url(../img/stock-full-hd-06-480x298.jpg);
    }

    .pictures.e {
        background-image: url(../img/course-featured-image-01-480x298.jpg);
    }

    .pictures.f {
        background-image: url(../img/stock-full-hd-05-480x298.jpg);
    }

    // ----price
    .price {
        width: calc( 100% - 130px );
        padding-left: 20px;
        
        h3 {
            color: $primary-brand-color;
            padding-top: 10px;

            span {
                font-size: 14px;
                color: $primary-brand-color;
                font-weight: 700;
            }
        }

        p {
            color: $third-brand-color;
            font-size: 14px;
            font-weight: 600;
        }

        span {
            font-size: 11px;
            color: #bcbcbc;
            font-weight: 500;
            padding-right: 20px;

            i {
                padding-right: 5px;
            }
        }
    }
}

// -Sponsor
.sponsor {
    padding: 50px 0 25px 0;
}

// --Freelancer
.freelancer {
    padding-top: 40px;
    @include flexbox;
    align-items: flex-start;

    // --img-freelancer
    .img-freelancer {
        width: 35%;
        position: relative;

        // ---photo
        div {
            margin: auto;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-image: url(../img/testimonial-avata-02.jpg);
            background-position: center;
            background-size: cover;
            z-index: 1;
        }

        span {
            position: absolute;
            top: 85px;
            left: 117px;
            z-index: -1;

            img {
                width: 100px;
            } 
        }

        #decor {
            top: -12px;
            left: 85px;
            color: #d1a98e;

            i {
                font-size: 60px
            }
        }

    } 

    .cit-freelancer {
        width: 65%;

        p {
            font-size: 25px;
        }

        h6 {
            text-transform: uppercase;
            font-weight: 600;
            color: black;
            padding-top: 25px;
        }

        span {
            color: rgb(155, 155, 155);
            font-size: 11px;
        }
    }
}

// --Sponsor-Logo
.sponsor-logo {
    @include flexbox;
    justify-content: space-between;
    padding-top: 30px;

    div {
        padding: 30px;
    }
}

// -Events
.events {
    background-color: #f8f8f8;
    padding: 60px 0;
    
}

// --event-content
.event-content {
    @include flexbox;
    justify-content: space-between;
    margin-top: 30px;
}

// ---single-event
.single-event {
    width: 32%;

    img {
        border-radius: 5px;
    }

    .info-event {
        padding-top: 15px;
    }

    span {
        font-size: 11px;
        color: #bcbcbc;
        font-weight: 500;
        padding-right: 20px;

        i {
            padding-right: 5px;
        }
    }
}

// -Choice
.choice {
    padding-top: 60px;
    background-image: linear-gradient(180deg, white, #eef0f3);
    position: relative;

    img {
        padding: 0 25px
    }

    // --circle
    .circle {

        span {
            position: absolute
        }

        .uno {
            font-size: 39px;
            color: #b1ede3;
            bottom: 57%;
            left: 23%;
        }

        .due {
            font-size: 30px;
            color: #b1ede3;
            bottom: 55%;
            right: 18%;
        }

        .tre {
            font-size: 27px;
            color: #f89f63;
            bottom: 28%;
            left: 7%;
        }

        .quattro {
            font-size: 25px;
            color: lighten( #e25a6d, 14%);
            bottom: 22%;
            right: 22%;
        }

        .cinque {
            font-size: 24px;
            color: lighten( #293259, 50%);
            bottom: 11%;
            right: 11%;
        }

        .sei {
            font-size: 36px;
            color: lighten( #e2a957, 10%);
            bottom: 11%;
            left: 8%;
        }
    }
}

// --choice-content
.choice-content {
    @include flexbox;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 10%;

    // ---single-choice
    .single-choice {
        width: 25%;
        padding: 0 10px;

        i {
            font-size: 50px;
            padding-bottom: 10px;
        }

        h4 {
            font-size: 13px;
            padding: 10px 0;
        }

        p {
            font-size: 10px;
            color: gray;
        }
    }
}

.img-service {
    position: relative;
    height: 316px;
    
    div {
        position: absolute;
        bottom: -21px;
        left: 0;
    }

}

.start-today {
    background-color: white;
    padding: 70px 0 50px 0;
    text-align: center;

    h3 {
        font-size: 21px;
    }

    h4 {
        font-weight: 600;

        span {
            color: $primary-brand-color;
            font-weight: 400;
        }
    }
}